.a:after {
    content: "\01F683";
}
.b:after {
    content: "\01F373";
}
.c:after {
    content: "\01F623";
}
.d:after {
    content: "\01F680";
}
.e:after {
    content: "\01F523";
}
.f:after {
    content: "\01F613";
}
